@import "../main.scss";
.signContain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  background-color: rgba(77, 160, 227, 0.55);
  color: black;
  font-size: 1.5vh;
  font-weight: bold;
}
.signedIn {
  display: inline-block;
  margin-right: 1vw;
  text-align: center;
}
.signedOut {
  display: flex;
  flex-direction: column;
  justify-self: center;
  margin-right: 1vw;
  font-size: 2vh;
}
a {
  color: inherit;
  text-decoration: none;
}
.logo {
  margin-left: 0.5vw;
  height: 10vh;
}
