@import "main.scss";
.signContain {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 10vh;
  background-color: rgba(255, 204, 204, 1);
  color: black;
}
.signedIn {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-self: center;
}
.signedOut {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-self: center;
}
a {
  color: inherit;
}
.logo {
  display: flex;
  align-self: center;
}
