@import "main.scss";
.signUpForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}
.Container {
  width: 100vw;
  height: 90vh;
  background-color: rgba(136, 200, 252, 0.55);
}
